header{
    background-color: rgb(194, 194, 194);

}
.sobreMIM{
 margin-left: 15%;
}
.projetos{
    margin-left: 26%;
}
.tecnologias{
    margin-left: 75%;
    margin-top: 10%;
}
.TXT-sobre{
   font-size: 40px;
    color: rgb(0, 0, 0);
}
.IMG{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 50px;
}
.text-sobre1{
    margin-left: 50%;


}
.sobre{
    font-size: 19px;
}
